---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout
  title='Vive el Vino 2024'
  description='Descubre una oportunidad única para destacar tu producto en la segunda región de consumo más relevante del país. Sumérgete en las últimas tendencias del sector participando en nuestro programa de conferencias y talleres. Amplía tu red de negocios mediante encuentros B2B y B2C exclusivos. Aprovecha la oportunidad de promover tu marca a través de la difusión y cobertura mediática del evento. ¡Potencia tu presencia y conecta con oportunidades sin igual!'
>
  <main>
    <section class='relative h-screen z-[-1]'>
      <video
        class='absolute w-screen h-screen  object-cover'
        muted
        loop
        autoplay
        playsinline
      >
        <source src='/viveelvino/viveelvino.mp4' type='video/mp4' />
      </video>
    </section>
    <section>
      lorem ipsum 
    </section>
  </main>
</Layout>
