---
import { changeLanguage } from "i18next";
import { Products } from "../../components/Product";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");

const products = [
    {
        id: 1,
        name: "Acceso General",
        price: 499,
        include: [
            "Acceso a la feria",
            "Copa de regalo",
            "Degustaciones de vino",
            "Cat\u00E1logo de expositores digital",
            "Acceso a catas y talleres generales",
        ],
        notInclude: ["$599/ PRECIO REGULAR", "Catas VIP (costo adicional)"],
    },
    {
        id: 2,
        name: "Acceso menor de edad",
        price: 100,
        include: ["Acceso a la feria"],
        notInclude: [
            "$150/ PRECIO REGULAR",
            "Ludoteca y Actividades especiales para ni\u00F1os (costo adicional)",
        ],
    },
];
---

<Layout
  title='Vive el Vino | Tickets'
  description='Descubre una oportunidad única para destacar tu producto en la segunda región de consumo más relevante del país. Sumérgete en las últimas tendencias del sector participando en nuestro programa de conferencias y talleres. Amplía tu red de negocios mediante encuentros B2B y B2C exclusivos. Aprovecha la oportunidad de promover tu marca a través de la difusión y cobertura mediática del evento. ¡Potencia tu presencia y conecta con oportunidades sin igual!'
>
  <main>
    <section>
      <div class='my-10 container mx-auto'>
        <h2 class='font-bold text-black text-2xl'>Productos</h2>
        <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-4'>
          {
            products.map((product) => (
              <Products client:only product={product} />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
