---
import Menu from '../components/Menu.astro'
import { ViewTransitions } from 'astro:transitions'
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
  </head>
  <body>
    <header class='sticky top-0'>
      <Menu />
    </header>
    <slot />
    <script
      is:inline
      src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js'
    ></script>
  </body>
</html>
